<h2>Меню</h2>
<ul class="menu_list">
  <li id="bikes_button"><a href="/">Велосипеды</a></li>
  <li id="accessories_button"><a href="accessories">Аксессуары</a></li>
  <li id="info_button"><a href="info">Информация</a></li>
  <li id="review_button"><a href="review">Отзывы</a></li>
</ul>