<article class="item">
  <img class="item_image" src={{ image_link }}>
  <h4 class="item_name">{{ name }}</h4>
  <p class="item_description">{{ description }}</p>
  <p class="item_price">{{ price }}</p>
</article>