<div style="margin-left: auto">
  <button class="header_buttons">Корзина</button>
  <button class="header_buttons" onclick="location.href = '../favourites'">Избранное</button>
  <button class="header_buttons">Профиль</button>
</div>